body{
    background-color: antiquewhite;
    margin: auto;
}
h1{
    font-size: 50px;
    margin: auto;
    background-color: aquamarine;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    background-color: aqua;
    margin-left: auto;
}