@charset "UTF-8";

*{
    margin: auto;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(53, 51, 45);
}
#titulo_principal{
    font-size: 2em;
    text-align: center;
    color: white;
    background-color: rgb(190, 149, 26);
    padding-top: 1%;
    padding-bottom: 1%;
}
p{
    font-size: 1em;
    font-weight: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align:justify;
    text-indent: 2%;
    color: white;
}
.titulos{
    font-size: 2em;
    text-align: left;
    color: white;
    background-color: rgb(62, 110, 124);
    margin-top: 1%;
    margin-bottom: 1%;
}